<?xml version="1.0" encoding="utf-8"?>
<!--
/*
** Copyright (C) 2019 Sacred Sanctuary Inc.
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
**     http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
*/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="jp.sacredsanctuary.gridviewtest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <dist:module dist:instant="true"/>

    <application
        android:name="jp.sacredsanctuary.gridviewtest.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.ui.GridViewTestActivity"
            android:label="@string/title_activity_grid_view_test"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.ui.RequestPermissionsActivity"/>
        <activity android:name=".view.ui.preference.ApplicationInfo"
                  android:taskAffinity="jp.sacredsanctuary.gridviewtest.preference"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".view.ui.preference.PreferenceActivity"
                  android:taskAffinity="jp.sacredsanctuary.gridviewtest.preference"
                  android:configChanges="orientation|keyboardHidden"/>

        <provider
            android:name=".provider.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>